OPENAI_API_KEY="<your key here>"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY="<your key here>"
ASTRA_DB_DATABASE_ID="<your DB ID here>"
ASTRA_DB_APPLICATION_TOKEN="<your key here>"
ASTRA_DB_KEYSPACE="<your keyspace here>"