[submodule "ragstack-langchain"]
	path = ragstack-langchain
	url = https://github.com/riptano/ragstack-langchain.git
[submodule "ragstack-langsmith"]
	path = ragstack-langsmith
	url = https://github.com/riptano/ragstack-langsmith.git
