[tool.poetry]
name = "ragstack-ai"
version = "0.5.0"
description = "RAGStack"
license = "BUSL-1.1"
authors = ["DataStax"]
readme = "README.md"
packages = [
    {include = "ragstack"}
]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
astrapy = "~0.6.2"
cassio = "~0.1.3"
unstructured = "^0.10"
llama-index = { version = "0.9.29", extras = ["langchain"] }
langchain = { version = "0.0.354", extras = ["openai"] }
langchain-core = "0.1.9"
langchain-community = "0.0.11"

[tool.poetry.group.test.dependencies]
pytest = "*"
nbmake = "*"
tox = "^4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

