[tool.poetry]
name = "ragstack-ai"
version = "0.2.0"
description = "RAGStack"
license = ""
authors = ["DataStax"]
readme = "README.md"
packages = [
    {include = "ragstack"}
]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
astrapy = "~0.6.2"
cassio = "~0.1.3"
unstructured = "^0.10"
langchain = { version = "0.0.343", extras = ["openai"] }
langchain-core = "0.0.8"
llama-index = "0.9.11"

[tool.poetry.group.test.dependencies]
pytest = "*"
nbmake = "*"
tox = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

