[tool.poetry]
name = "ragstack-ai"
version = "0.1.1"
description = "RAGStack"
license = ""
authors = ["DataStax"]
readme = "README.md"
packages = [
    {include = "ragstack"},
    {include = "langchain", from = "ragstack-langchain/libs/langchain"},
    {include = "langsmith", from = "ragstack-langsmith/python"},
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
astrapy = "^0.6"
unstructured = "^0.10"

# Common LangChain/LangSmith dependencies
pydantic = ">=1,<3"
requests = "^2"

# Langchain non-optional dependencies
SQLAlchemy = ">=1.4,<3"
PyYAML = ">=5.3"
numpy = "^1"
dataclasses-json = ">= 0.5.7, < 0.7"
tenacity = "^8.1.0"
aiohttp = "^3.8.3"
async-timeout = {version = "^4.0.0", python = "<3.11"}
anyio = "<4.0"
jsonpatch = "^1.33"

# LangChain openai extra-dependencies
openai = "^0"
tiktoken = ">=0.3.2,<0.6.0"

# LangSmith dependencies
pytest-subtests = "^0.11.0"

[tool.poetry.group.test.dependencies]
pytest = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
