[tool.poetry]
name = "ragstack-ai"
version = "0.1.2"
description = "RAGStack"
license = ""
authors = ["DataStax"]
readme = "README.md"
packages = [
    {include = "ragstack"}
]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"

ragstack-ai-langchain = {path = "libs/ragstack-ai-langchain", develop = true}

[tool.poetry.group.test.dependencies]
pytest = "*"
nbmake = "*"
tox = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

