[tool.poetry]
name = "ragstack-ai"
version = "0.6.0"
description = "RAGStack"
license = "BUSL-1.1"
authors = ["DataStax"]
readme = "PACKAGE_README.md"
packages = [
    {include = "ragstack"}
]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
astrapy = "~0.7.0"
cassio = "~0.1.3"
unstructured = "^0.10"
llama-index = { version = "0.9.34", extras = ["langchain"] }
langchain = {version = "0.1.4"}
langchain-core = "0.1.16"
langchain-community = "0.0.16"
langchain-openai = {version = "0.0.3"}
langchain-google-genai = {version = "0.0.6", optional = true}
langchain-google-vertexai = {version = "0.0.3", optional = true}
langchain-nvidia-ai-endpoints = {version = "0.0.1", optional = true}

[tool.poetry.extras]
langchain-google = ["langchain-google-genai", "langchain-google-vertexai"]
langchain-nvidia = ["langchain-nvidia-ai-endpoints"]

[tool.poetry.group.test.dependencies]
pytest = "*"
nbmake = "*"
tox = "^4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

