[tool.poetry]
name = "ragstack-ai"
version = "0.10.0"
description = "DataStax RAGStack"
license = "BUSL-1.1"
authors = ["DataStax"]
readme = "PACKAGE_README.md"
repository = "https://github.com/datastax/ragstack-ai"
documentation = "https://docs.datastax.com/en/ragstack"
packages = [{ include = "ragstack" }]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
astrapy = "~0.7.0"
cassio = "~0.1.3"
unstructured = { version = "0.12.5" }
llama-index = { version = "0.9.48", extras = ["langchain"] }
llama-parse = { version = "0.1.4" }
langchain = "0.1.12"
langchain-core = "0.1.31"
langchain-community = "0.0.28"
langchain-astradb = "0.1.0"
langchain-openai = "0.0.8"
langchain-google-genai = { version = "0.0.9", optional = true }
langchain-google-vertexai = { version = "0.1.0", optional = true }
langchain-nvidia-ai-endpoints = { version = "0.0.3", optional = true }

[tool.poetry.extras]
langchain-google = ["langchain-google-genai", "langchain-google-vertexai"]
langchain-nvidia = ["langchain-nvidia-ai-endpoints"]

[tool.poetry.group.test.dependencies]
pytest = "*"
nbmake = "*"
tox = "^4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.group.dev.dependencies]
yamllint = "^1.34.0"
