[tool.poetry]
name = "ragstack-ai"
version = "0.1.0"
description = "RAGStack"
license = "Apache-2.0"
authors = ["DataStax"]
readme = "README.md"
packages = [{include = "ragstack"}]

[tool.poetry.dependencies]
python = "^3.9"
langchain = { version = "0.0.332", extras = ["openai"] }
langserve = "0.0.24"
astrapy = "0.5.8"

[tool.poetry.group.test.dependencies]
pytest = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
