[tool.poetry]
name = "ragstack-e2e-tests"
version = "0.1.0"
description = "RAGStack tests"
license = ""
authors = ["DataStax"]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
huggingface-hub = {version = "^0.19.4", extras = ["test"]}

[tool.poetry.group.test.dependencies]
pytest = "*"
black = "*"
ruff = "*"
google-cloud-aiplatform = "^1.36.4"
boto3 = "^1.29.6"

# From LangChain optional deps, needed by WebBaseLoader
beautifulsoup4 = "^4"

ragstack-ai = { path = "../", develop = false }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 250