[tool.poetry]
name = "ragstack-e2e-tests"
version = "0.1.0"
description = "RAGStack tests"
license = ""
authors = ["DataStax"]

[tool.poetry.dependencies]
python = ">=3.9,<3.12,!=3.9.7"

[tool.poetry.group.test.dependencies]
pytest = "*"
black = "*"
ruff = "*"
google-cloud-aiplatform = "^1.36.4"
boto3 = "^1.29.6"
huggingface-hub = "^0.20.3"
azure-storage-blob = "^12.19.0"
pillow = "^10.2.0"
testcontainers = "^3.7.1"
python-dotenv = "^1.0.1"
trulens-eval = "^0.21.0"

# From LangChain optional deps, needed by WebBaseLoader
beautifulsoup4 = "^4"

langchain = { git = "https://github.com/langchain-ai/langchain.git", branch = "master", subdirectory = "libs/langchain", extras = [
    "openai",
] }
langchain-astradb = { git = "https://github.com/langchain-ai/langchain-datastax.git", branch = "main", subdirectory = "libs/astradb" }
langchain-core = { git = "https://github.com/langchain-ai/langchain.git", branch = "master", subdirectory = "libs/core" }
langchain-community = { git = "https://github.com/langchain-ai/langchain.git", branch = "master", subdirectory = "libs/community" }
langchain-openai = { git = "https://github.com/langchain-ai/langchain.git", branch = "master", subdirectory = "libs/partners/openai" }
langchain-google-genai = { git = "https://github.com/langchain-ai/langchain-google.git", branch = "main", subdirectory = "libs/genai" }
langchain-google-vertexai = { git = "https://github.com/langchain-ai/langchain-google.git", branch = "main", subdirectory = "libs/vertexai" }
langchain-nvidia-ai-endpoints = { git = "https://github.com/langchain-ai/langchain.git", branch = "master", subdirectory = "libs/partners/nvidia-ai-endpoints" }
llama-index = { version = "0.9.48", extras = ["langchain"] }
llama-parse = { version = "0.1.4" }
astrapy = "~0.7.0"
# we need this specific feature from cassio: https://github.com/CassioML/cassio/pull/128
cassio = "~0.1.4"
unstructured = { git = "https://github.com/Unstructured-IO/unstructured.git", branch = "main" }

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
