[tool.poetry]
name = "ragstack-e2e-tests"
version = "0.1.0"
description = "RAGStack tests"
license = ""
authors = ["DataStax"]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"

[tool.poetry.group.test.dependencies]
pytest = "*"
black = "*"
ruff = "*"
google-cloud-aiplatform = "^1.36.4"
langchain-google-genai = "^0.0.4"
langchain-nvidia-ai-endpoints = "^0.0.1"
boto3 = "^1.29.6"
huggingface-hub = "^0.19.4"
azure-storage-blob = "^12.19.0"
pillow = "^10.2.0"

# From LangChain optional deps, needed by WebBaseLoader
beautifulsoup4 = "^4"

llama-index = { git = "https://github.com/run-llama/llama_index.git", branch = "main" }

langchain = { version = "0.0.354", extras = ["openai"] }
langchain-core = "0.1.9"
langchain-community = "0.0.11"
astrapy = "~0.6.2"
cassio = "~0.1.3"
unstructured = "^0.10"
pillow = "^10.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
