[tool.poetry]
name = "ragstack-e2e-tests"
version = "0.1.0"
description = "RAGStack tests"
license = ""
authors = ["DataStax"]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"

[tool.poetry.group.test.dependencies]
pytest = "*"
black = "*"
ruff = "*"
google-cloud-aiplatform = "^1.36.4"
boto3 = "^1.29.6"
huggingface-hub = "^0.19.4"
azure-storage-blob = "^12.19.0"
pillow = "^10.2.0"
testcontainers = "^3.7.1"
python-dotenv = "^1.0.1"

# From LangChain optional deps, needed by WebBaseLoader
beautifulsoup4 = "^4"

llama-index = { git = "https://github.com/run-llama/llama_index.git", branch = "main" }

langchain = {version = "0.1.2"}
langchain-core = "0.1.15"
langchain-community = "0.0.15"
langchain-openai = {version = "0.0.3"}
langchain-google-genai = {version = "0.0.6", optional = true}
langchain-google-vertexai = {version = "0.0.2", optional = true}
langchain-nvidia-ai-endpoints = {version = "0.0.1", optional = true}
astrapy = "~0.7.0"
# we need this specific feature from cassio: https://github.com/CassioML/cassio/pull/128
cassio = "~0.1.4"
unstructured = "^0.10"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
