name: RAGStack CI
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths-ignore:
      - '.github/workflows/langchain-master-daily.yml'
      - '.github/workflows/release-ragstack.yml'
      - '.github/workflows/security-scan.yml'
      - 'docs/**'
      - 'README.md'
    branches:
      - main

concurrency:
  group: ragstack-ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: 'Setup: Python 3.11'
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox

      - name: Run ragstack-ai unit tests
        run: |
          tox

      - name: Setup AstraDB prod
        uses: ./.github/actions/setup-astra-db
        id: astra-db-prod
        with:
          astra-token: ${{ secrets.E2E_TESTS_ASTRA_PROD_DB_TOKEN }}
          db-name: ${{ github.run_id }}
          env: PROD

      - name: Setup AstraDB dev
        uses: ./.github/actions/setup-astra-db
        id: astra-db-dev
        with:
          astra-token: ${{ secrets.E2E_TESTS_ASTRA_DEV_DB_TOKEN }}
          db-name: ${{ github.run_id }}
          env: DEV

      - name: Run notebook tests
        env:
          ASTRA_DB_APPLICATION_TOKEN: "${{ secrets.E2E_TESTS_ASTRA_PROD_DB_TOKEN }}"
          ASTRA_DB_API_ENDPOINT: "${{ steps.astra-db-prod.outputs.db_endpoint }}"
          ASTRA_DB_ID: "${{ steps.astra-db-prod.outputs.db_id }}"
          OPENAI_API_KEY: "${{ secrets.E2E_TESTS_OPEN_AI_KEY }}"
        run: |
          tox -e notebooks

      - name: Run E2E tests
        id: e2e-tests
        if: always() && steps.astra-db.outcome == 'success'
        env:
          ASTRA_DEV_DB_TOKEN: "${{ secrets.E2E_TESTS_ASTRA_DEV_DB_TOKEN }}"
          ASTRA_DEV_DB_ENDPOINT: "${{ steps.astra-db-dev.outputs.db_endpoint }}"
          ASTRA_DEV_DB_ID: "${{ steps.astra-db-dev.outputs.db_id }}"
          ASTRA_PROD_DB_TOKEN: "${{ secrets.E2E_TESTS_ASTRA_PROD_DB_TOKEN }}"
          ASTRA_PROD_DB_ENDPOINT: "${{ steps.astra-db-prod.outputs.db_endpoint }}"
          ASTRA_PROD_DB_ID: "${{ steps.astra-db-prod.outputs.db_id }}"
          OPEN_AI_KEY: "${{ secrets.E2E_TESTS_OPEN_AI_KEY }}"
          AZURE_OPEN_AI_KEY: "${{ secrets.E2E_TESTS_AZURE_OPEN_AI_KEY }}"
          AZURE_OPEN_AI_ENDPOINT: "${{ secrets.E2E_TESTS_AZURE_OPEN_AI_ENDPOINT }}"
          GCLOUD_ACCOUNT_KEY_JSON: "${{ secrets.E2E_TESTS_GCLOUD_ACCOUNT_KEY_JSON }}"
          AWS_ACCESS_KEY_ID: "${{ secrets.E2E_TESTS_AWS_ACCESS_KEY_ID }}"
          AWS_SECRET_ACCESS_KEY: "${{ secrets.E2E_TESTS_AWS_SECRET_ACCESS_KEY }}"
          BEDROCK_AWS_REGION: "${{ secrets.E2E_TESTS_BEDROCK_AWS_REGION }}"
          HUGGINGFACE_HUB_KEY: "${{ secrets.E2E_TESTS_HUGGINGFACE_HUB_KEY }}"
        run: |
          tox -c ragstack-e2e-tests

      - name: Dump report on Github Summary
        if: always()
        run: |
          if [ -f "ragstack-e2e-tests/all-tests-report.txt" ]; then
            echo "$(cat ragstack-e2e-tests/all-tests-report.txt)" >> $GITHUB_STEP_SUMMARY
            echo "Report added to the summary"
          else
            echo "Report not found"
          fi

      - name: Compute commit URL
        if: always() && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')
        id: commit-ref
        run: echo "commit-ref=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Prepare report for Slack
        if: always() && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')
        uses: ./.github/actions/generate-slack-report
        with:
          from-report-file: ragstack-e2e-tests/failed-tests-report.txt
          output-file: slack-report.json
          type: "RAGStack Tests"
          outcome: ${{ steps.e2e-tests.outcome }}
          commit-url: "https://github.com/datastax/ragstack-ai/commits/${{ steps.commit-ref.outputs.commit-ref }}"

      - name: Dump report on Slack
        if: always() && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload-file-path: "./slack-report.json"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Cleanup Astra prod
        if: always()
        continue-on-error: true
        uses: ./.github/actions/cleanup-astra-db
        with:
          astra-token: ${{ secrets.E2E_TESTS_ASTRA_PROD_DB_TOKEN }}
          db-name: ${{ github.run_id }}
          env: PROD

      - name: Cleanup Astra dev
        if: always()
        continue-on-error: true
        uses: ./.github/actions/cleanup-astra-db
        with:
          astra-token: ${{ secrets.E2E_TESTS_ASTRA_DEV_DB_TOKEN }}
          db-name: ${{ github.run_id }}
          env: DEV
