name: Clean Astra env

on:
  workflow_dispatch: {}
  schedule:
    - cron: "*/5 * * * *"

jobs:
  e2e-tests:
    name: Clean Astra env (${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Astra PROD
            astra_token_secret: E2E_TESTS_ASTRA_PROD_DB_TOKEN
            env: PROD
          - name: Astra DEV
            astra_token_secret: E2E_TESTS_ASTRA_DEV_DB_TOKEN
            env: DEV

    steps:
      - uses: actions/checkout@v4
      - name: Clean DBs
        uses: nicoloboschi/cleanup-astradb-env@v1
        with:
          token: ${{ secrets[matrix.astra_token_secret] }}
          env: ${{ matrix.env }}
          threshold-seconds: 3600
          wait: false