name: Run benchmarks

on:
  workflow_dispatch:
    inputs:
      intensity:
        description: 'Intensity of the tests (1-5)'
        default: "2"

jobs:
  run-benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
          
          
      - name: Run
        env:
          OPEN_AI_KEY: "${{ secrets.E2E_TESTS_OPEN_AI_KEY }}"
          NVIDIA_API_KEY: "${{ secrets.E2E_TESTS_NVIDIA_API_KEY }}"
        run: |
          cd ragstack-e2e-tests
          poetry install --no-root
          poetry run python benchmarks/runner.py -t all -i ${{ github.event.inputs.intensity }}
          
          poetry run python benchmarks/visualize.py --format all
          cat benchmarks/reports/report.html

      - name: Dump logs
        if: always()
        run: |
          cd ragstack-e2e-tests
          if [ -f "testcases.log" ]; then
            cat testcases.log
          fi

      - name: Upload report
        env:
          OPEN_AI_KEY: "${{ secrets.E2E_TESTS_OPEN_AI_KEY }}"
          NVIDIA_API_KEY: "${{ secrets.E2E_TESTS_NVIDIA_API_KEY }}"
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

          mv ragstack-e2e-tests/benchmarks/reports /tmp/reports
          git reset --hard
          git clean -df
          git status
          git fetch origin gh-pages
          git checkout gh-pages
          git status
          git reset --hard origin/gh-pages
          mkdir -p benchmarks/reports
          dir=reports/benchmarks/$(date +"%Y-%m-%d_%H-%M-%S")
          mv /tmp/reports $dir
          git add -A benchmarks/reports
          git commit -am "Update benchmarks ${{ github.run_id }} - $dir"
          git push origin gh-pages
